<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title>Civic Makers</title>
    <meta name="description" content="">
     <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
      <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(client) app/vendor.css -->
      <!-- bower:css -->
      <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,client}) app/app.css -->
      <!-- injector:css -->
      <link rel="stylesheet" href="app/app.css">
      <link rel="stylesheet" href="app/authors/author/author.css">
      <link rel="stylesheet" href="app/authors/authors.css">
      <link rel="stylesheet" href="app/directives/cardDirective/cardDirective.css">
      <link rel="stylesheet" href="app/main/main.css">
      <link rel="stylesheet" href="app/projects/AddProject/AddProject.css">
      <link rel="stylesheet" href="app/projects/project/project.css">
      <link rel="stylesheet" href="app/projects/projects.css">
      <link rel="stylesheet" href="app/tools/Tool/Tool.css">
      <link rel="stylesheet" href="app/tools/tools.css">
      <link rel="stylesheet" href="app/topics/Topic/Topic.css">
      <link rel="stylesheet" href="app/topics/topics.css">
      <!-- endinjector -->
    <!-- endbuild -->
  </head>
  <body ng-app="civicMakersClientApp" ng-controller="MainCtrl as mainCtrl">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

<!--     TODO Redo hardcoded style here with
    offset  Sets element offset.
    offset-sm Sets element offset on devices less than 600px wide.
    offset-gt-sm  Sets element offset on devices greater than 600px wide.
    offset-md Sets element offset on devices between 600px and 960px wide.
    offset-gt-md  Sets element offset on devices greater than 960px wide.
    offset-lg Sets element offset on devices between 960px and 1200px wide.
    offset-gt-lg  Sets element offset on devices greater than 1200px wide.
 -->
    <md-content>
      <md-toolbar class="main-toolbar">
        <div style="width: 960px; margin: 0 auto;" layout="row">
          <!-- todo add ui-router -->
          <h3 flex="50" class="md-display-1" style="margin: 15px; cursor: pointer;" onclick="location.href = '#'">Civic Makers</h3>
          <search flex="30" style="padding-top: 5px;"></search>
          <md-button ng-if="!mainCtrl.isLoggedIn" flex="20" ng-click="mainCtrl.loginToTwitter()">
            <span>Login With Twitter</span>
          </md-button>
          <md-button ng-if="mainCtrl.isLoggedIn" flex="20" ng-click="mainCtrl.logoutFromTwitter()">
            <span>Logout</span>
          </md-button>
        </div>
        <!-- <a href="/"><img src="assets/images/CivicMakers_logo_bgd.png" class="main-img" /></a> -->
      </md-toolbar>
    </md-content>

    <ng-view></ng-view>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-64973711-3', 'auto');
      ga('send', 'pageview');

    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- build:js({client,node_modules}) app/vendor.js -->
      <!-- bower:js -->
      <script src="bower_components/jquery/dist/jquery.js"></script>
      <script src="bower_components/angular/angular.js"></script>
      <script src="bower_components/angular-resource/angular-resource.js"></script>
      <script src="bower_components/angular-cookies/angular-cookies.js"></script>
      <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
      <script src="bower_components/angular-route/angular-route.js"></script>
      <script src="bower_components/lodash/dist/lodash.compat.js"></script>
      <script src="bower_components/angular-animate/angular-animate.js"></script>
      <script src="bower_components/angular-aria/angular-aria.js"></script>
      <script src="bower_components/angular-material/angular-material.js"></script>
      <script src="bower_components/firebase/firebase.js"></script>
      <script src="bower_components/angularfire/dist/angularfire.js"></script>
      <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,client}) app/app.js -->
        <script src="app/app.js"></script>
          <!-- injector:js -->
          <script src="app/authors/author/author.controller.js"></script>
          <script src="app/authors/author/author.js"></script>
          <script src="app/authors/authors.controller.js"></script>
          <script src="app/authors/authors.js"></script>
          <script src="app/directives/cardDirective/cardDirective.directive.js"></script>
          <script src="app/directives/search/search.controller.js"></script>
          <script src="app/directives/search/search.directive.js"></script>
          <script src="app/factories/ApiConfig/ApiConfig.service.js"></script>
          <script src="app/factories/AuthorApi/AuthorApi.service.js"></script>
          <script src="app/factories/Globals/Globals.service.js"></script>
          <script src="app/factories/ProjectApi/ProjectApi.service.js"></script>
          <script src="app/factories/ToolApi/ToolApi.service.js"></script>
          <script src="app/factories/TopicApi/TopicApi.service.js"></script>
          <script src="app/firebase/firebase.js"></script>
          <script src="app/main/main.controller.js"></script>
          <script src="app/main/main.js"></script>
          <script src="app/projects/AddProject/AddProject.controller.js"></script>
          <script src="app/projects/AddProject/AddProject.js"></script>
          <script src="app/projects/project/project.controller.js"></script>
          <script src="app/projects/project/project.js"></script>
          <script src="app/projects/projects.controller.js"></script>
          <script src="app/projects/projects.js"></script>
          <script src="app/services/AuthenticationService/AuthenticaionService.js"></script>
          <script src="app/tools/AddTool/AddTool.controller.js"></script>
          <script src="app/tools/AddTool/AddTool.js"></script>
          <script src="app/tools/Tool/Tool.controller.js"></script>
          <script src="app/tools/Tool/Tool.js"></script>
          <script src="app/tools/tools.controller.js"></script>
          <script src="app/tools/tools.js"></script>
          <script src="app/topics/Topic/Topic.controller.js"></script>
          <script src="app/topics/Topic/Topic.js"></script>
          <script src="app/topics/topics.controller.js"></script>
          <script src="app/topics/topics.js"></script>
          <script src="components/navbar/navbar.controller.js"></script>
          <!-- endinjector -->
        <!-- endbuild -->
</body>
</html>
