<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <base href="/">
  <title>CivicMakers - Talent, tools & knowledge for civic projects</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,700italic,400italic' rel='stylesheet' type='text/css'>
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(client) app/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css({.tmp,client}) app/styles/app.min.css -->
  <!-- injector:css -->
  <link rel="stylesheet" href="concat/app/styles/app.css">
  <!-- endinjector -->
  <!-- endbuild -->
</head>
<body ng-app="civicMakersClientApp" ng-controller="MainCtrl as mainCtrl">
  <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

    <!--     TODO Redo hardcoded style here with
      offset  Sets element offset.
      offset-sm Sets element offset on devices less than 600px wide.
      offset-gt-sm  Sets element offset on devices greater than 600px wide.
      offset-md Sets element offset on devices between 600px and 960px wide.
      offset-gt-md  Sets element offset on devices greater than 960px wide.
      offset-lg Sets element offset on devices between 960px and 1200px wide.
      offset-gt-lg  Sets element offset on devices greater than 1200px wide.
    -->
  <md-content class="header-container">
      <md-toolbar class="header">
        <div class="header-nav-bar" layout="row" layout-align="space-between center" flex>
          <!-- todo add ui-router -->
          <h1 class="site-title" ng-click="mainCtrl.navigateHome()" flex="30">
            <span class="site-title-left pull-left">Civic</span>
            <span class="site-title-right pull-left">Makers</span>
          </h1>
          <div flex="grow"></div>
          <button class="button" ng-if="!mainCtrl.isLoggedIn" flex="30" ng-click="mainCtrl.loginToTwitter()"
                  analytics-on analytics-event="login" analytics-category="Buttons" analytics-label="twitter">
            <span>Login with Twitter</span>
          </button>
          <md-menu ng-if="mainCtrl.isLoggedIn" md-offset="0 60" flex="30" class="profile-menu">
            <md-button aria-label="Open profile menu" ng-click="mainCtrl.openUserProfileMenu($mdOpenMenu, $event)">
              <img src="{{mainCtrl.userData.avatar}}" alt="User Avatar" class="header-avatar">
              <span class="header-username">{{mainCtrl.userData.displayName}}</span>
            </md-button>
            <md-menu-content width="3">
              <md-menu-item>
                <md-button ng-click="mainCtrl.logoutFromTwitter()">
                  Logout
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </md-toolbar>
  </md-content>

  <ng-view autoscroll></ng-view>

  <div style="clear:both"></div>
  <div class="cm-footer">
      <div class="col-md-8 cm-footer--center">
        <ul class="cm-footer__list">
          <li class="cm-pad-right"><a href="http://civicmakers.com" target="_blank">About</a></li>
          <li class="cm-pad-right"><a href="http://civicmakers.com/contact" target="_blank">Contact</a></li>
          <li>All rights reserved, CivicMakers, 2015</li>
        </ul>
    </div>
  </div><!--footer -->

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-64973711-3', 'auto');
    // send pageview was removed due to the use of angulartics that does it automatically
    // ga('send', 'pageview');
  </script>

  <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
  <![endif]-->
  <!-- build:js({client,node_modules}) app/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/lodash/dist/lodash.compat.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/firebase/firebase.js"></script>
  <script src="bower_components/angularfire/dist/angularfire.js"></script>
  <script src="bower_components/SHA-1/sha1.js"></script>
  <script src="bower_components/angulartics/src/angulartics.js"></script>
  <script src="bower_components/angulartics-google-analytics/lib/angulartics-google-analytics.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp,client}) app/app.js -->
  <script src="app/app.js"></script>
  <!-- injector:js -->
  <script src="app/authors/author/author.controller.js"></script>
  <script src="app/authors/author/author.js"></script>
  <script src="app/authors/authors.controller.js"></script>
  <script src="app/authors/authors.js"></script>
  <script src="app/directives/cardDirective/cardDirective.directive.js"></script>
  <script src="app/directives/profileCard/profileCard.directive.js"></script>
  <script src="app/directives/questionsAndAnswers/question.directive.js"></script>
  <script src="app/directives/questionsAndAnswers/questionsAndAnswers.directive.js"></script>
  <script src="app/directives/search/search.controller.js"></script>
  <script src="app/directives/search/search.directive.js"></script>
  <script src="app/directives/titleDirective/titleDirective.directive.js"></script>
  <script src="app/factories/ApiConfig/ApiConfig.service.js"></script>
  <script src="app/factories/AuthorApi/AuthorApi.service.js"></script>
  <script src="app/factories/Globals/Globals.service.js"></script>
  <script src="app/factories/ProjectApi/ProjectApi.service.js"></script>
  <script src="app/factories/ProjectComponentsApi/ProjectComponentsApi.service.js"></script>
  <script src="app/factories/ToolApi/ToolApi.service.js"></script>
  <script src="app/factories/TopicApi/TopicApi.service.js"></script>
  <script src="app/firebase/firebase.js"></script>
  <script src="app/loginModal/loginModal.controller.js"></script>
  <script src="app/main/main.controller.js"></script>
  <script src="app/main/main.js"></script>
  <script src="app/projects/AddProject/AddProject.controller.js"></script>
  <script src="app/projects/AddProject/AddProject.js"></script>
  <script src="app/projects/project/project.controller.js"></script>
  <script src="app/projects/project/project.js"></script>
  <script src="app/projects/projects.controller.js"></script>
  <script src="app/projects/projects.js"></script>
  <script src="app/services/AuthenticationService/AuthenticaionService.js"></script>
  <script src="app/services/DialogService/Dialog.service.js"></script>
  <script src="app/services/QuestionsApi/QuestionsApi.service.js"></script>
  <script src="app/services/UserApi/UserApi.service.js"></script>
  <script src="app/tools/AddTool/AddTool.controller.js"></script>
  <script src="app/tools/AddTool/AddTool.js"></script>
  <script src="app/tools/Tool/Tool.controller.js"></script>
  <script src="app/tools/Tool/Tool.js"></script>
  <script src="app/tools/tools.controller.js"></script>
  <script src="app/tools/tools.js"></script>
  <script src="app/topics/Topic/Topic.controller.js"></script>
  <script src="app/topics/Topic/Topic.js"></script>
  <script src="app/topics/topics.controller.js"></script>
  <script src="app/topics/topics.js"></script>
  <script src="components/navbar/navbar.controller.js"></script>
  <!-- endinjector -->
  <!-- endbuild -->
</body>
</html>
