.button {
  font-weight: bold;
  border-radius: 20px;
  border: 0px;
  padding: 5px 15px 5px 15px;
  color: white;
  background-color: $color-orange;
}

.form-submit-button {
  text-transform: uppercase;
  text-align: center;
}
