// Card

.card { // LSG: this style should be a general style applied to all cards
    display: inline-block;
    background-color: white !important;
    width: 210px; // LSG: move dimensions and other specific styles
    height: 300px;
    vertical-align: top;
    margin: 0;
    box-shadow: 0px 0px 4px 0px rgba(150, 152, 154,0.2);
}

h2 { 
    text-align: left;
}

.tag{
    display: inline-block;
    background-color: $color-primary;
    padding: 5px;
    margin: 0 5px 5px 0;
    color: white;
    font-size: 12px;
    font-weight: 600;
    border-radius: 2px;
}

.layout-row {
    .card {
        margin: 0 25px 25px 0;
    }
}

.list-card-row {}

.list-card {
    &:hover {
        box-shadow: 0px 0px 0px 2px gray;
    }
}

.sidebar-card {}

.content-card {
    padding: 24px;
    background-color: white;

    p {
        margin: 0 0 20px 0;
    }

}

.homepage-container { // LSG: should rename and globalize this class
    margin: 10px;
    height: 180px;
    overflow: hidden;
}

.selected-tools.card-container.lil-card:hover {
    box-shadow: none !important;
}

.card-container {
    border:2px solid gray;
}

.indiv-title-row {
    margin: 10px 0px 10px 0px
}

.indiv-img {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-right:15px;
}

.indiv-title {
    display: inline-block;
}

.big-card {
    width: 200px;
    height: 250px;
    background-color: white;
    display: inline-block;
    vertical-align: top;
    margin: 5px;

    img {
        width: 200px;
        height: 200px;
    }

    p {
        margin: 9px;
        text-align: center;
        vertical-align: top;
    }
}

.lil-card {
    width: 220px;
    height: 50px;
    display: inline-block;
    background-color: white !important;
    margin: 5px;
    overflow: hidden;

    p {
        display: inline-block;
        margin: 0;
        vertical-align: top;
        line-height: 50px;
        width: 165px;
        height: 50px;
        text-overflow: ellipsis;
    }

    img {
        height: 50px;
        width: 50px;
    }

    &:hover {
        box-shadow: 0px 0px 0px 2px gray
    }
}
