// Card

.card { // LSG: this style should be a general style applied to all cards
    display: inline-block;
    background-color: white !important;
    width: 210px; // LSG: move dimensions and other specific styles
    height: 300px;
    vertical-align: top;
    margin: 0;
    box-shadow: 0px 0px 4px 0px rgba(150, 152, 154,0.2);
}

h2 {
    text-align: left;
}

.tag{
    display: inline-block;
    background-color: $color-primary;
    padding: 5px;
    margin: 0 5px 5px 0;
    color: white;
    font-size: 12px;
    font-weight: 600;
    border-radius: 2px;
}

.layout-row {
    .card {
        margin-bottom: 25px;
    }
}

.list-card-row {}

.list-card {
    &:hover {
        box-shadow: 0px 0px 0px 2px gray;
    }
}

.sidebar-card {}

.content-card {
    margin: 0 auto;
    max-width: 593px;
    padding: 1.5em;
    background-color: white;

    p {
        margin: 0 0 20px 0;
    }

}

.homepage-container { // LSG: should rename and globalize this class
    margin: 10px;
}

.selected-tools.card-container.lil-card:hover {
    box-shadow: none !important;
}

.card-container {
    border:2px solid gray;
}

.indiv-title-row {
    margin: 10px 0px 10px 0px
}

.indiv-img {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-right:15px;
}

.indiv-title {
    display: inline-block;
}

.big-card {
    width: 140px;
    display: inline-block;
    vertical-align: top;
    margin: 5px;

    $big-card-border-radius: 2px;
    $big-card-background-color: white;
    .big-card-image-wrapper {
        background-color: $big-card-background-color;
        height: 115px;
        margin-bottom: 2px;
        border-radius: $big-card-border-radius $big-card-border-radius 0 0;

        .big-card-image {
            width: 100%;
            height: 100%;
            border-radius: $big-card-border-radius $big-card-border-radius 0 0;
        }
    }

    .big-card-title {
        margin: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 100%;
        text-align: center;
        vertical-align: top;
        font-weight: $font-weight-bold;
        background-color: $big-card-background-color;
        border-radius: 0 0 $big-card-border-radius $big-card-border-radius;
    }
}

.lil-card {
    width: 220px;
    height: 50px;
    display: inline-block;
    background-color: white !important;
    margin: 5px;
    overflow: hidden;

    p {
        display: inline-block;
        margin: 0;
        vertical-align: top;
        line-height: 50px;
        width: 165px;
        height: 50px;
        text-overflow: ellipsis;
    }

    img {
        height: 50px;
        width: 50px;
    }

    &:hover {
        box-shadow: 0px 0px 0px 2px gray
    }
}

$card-columns: 4;
$card-column-gap: 10px;
.cards-board {
    column-count: $card-columns;
    column-gap: $card-column-gap;
    float: left;

    .card-on-board {
        break-inside: avoid;
    }
}

.main-card-board {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;

    .card {
        margin-left: 0;
        margin-right: 0;
    }
}
