// Layout
 
.clearboth {
 clear: both;
}

.clearfix {
  overflow: auto;
}

.material-form-group, .cm-login-modal {
  md-input-container {
    background-color: white;
    color: black;
    padding: 10px;
    margin-bottom: 15px;

    label {
      color: #96989a;
      font-size: 12px;
    }
  }

  md-select {
    width: 100%;
    padding: 5px;
  }

  p {
    color: #3d464d;
  }

  label {
    font-weight: bold;
    display: block;
    padding-bottom: 5px;
    color: #3d464d;
  }
}

.cm-login-modal { // LSG: this should probably be moved somewhere else
  width: 60%;
  padding: 25px;

  p {
    font-size: 14px;
  }

  .md-label span {
    font-size: 12px;
  }

  md-input-container, input[type="text"] {
    margin: 0;
    padding: 0;
  }

  md-checkbox {
    line-height: 10px;
  }
}

.main-wrapper {
    width: 960px;
    margin: auto;
    margin-bottom: 50px;
    padding: 15px 0;
    background-color: #f2f2f6;

    .layout-column {
      margin-bottom: 50px;
    }
}

.main-content-col {
    display: inline-block;
    // background-color: white !important;
    margin: 0 0 0 24px;
    width: 625px;
    margin-bottom: 50px; // account for footer
}

.horizontal-repeat {
    display: block;
} 

.title-row {
    margin: 10px 0px 10px 0px;
    padding: 0px;
}

.first-row {
    margin-top: 10px;
}

.title-row h1 {
    margin-top: auto;
    margin-bottom: auto;
}
