@mixin mquery($size) {
  @if $size == tablet {
    @media (min-width: 40em) {
      @content;
    }
  }

  @else if $size == desktop {
    @media (min-width: 64em) {
      @content;
    }
  }
}

@mixin padding-vertical ($size) {
    padding-top: $size;
    padding-bottom: $size;
}

@mixin padding-horizontal ($size) {
    padding-right: $size;
    padding-left: $size;
}

@mixin margin-vertical ($size) {
    margin-top: $size;
    margin-bottom: $size;
}

@mixin margin-horizontal ($size) {
    margin-right: $size;
    margin-left: $size;
}