@mixin bg-color($color) {
  background-color: $color;
}

@mixin left-margin($value) {
  margin-left: $value;
}

@mixin left-right-padding($value) {
  padding: 0 $value;
}

@mixin all-padding($value) {
  padding: $value;
}

@mixin mquery($size) {
  @if $size == tablet {
    @media (min-width: 40em) {
      @content;
    }
  }

  @else if $size == desktop {
    @media (min-width: 64em) {
      @content;
    }
  }
}
