////////////////  Global colors  //////////////////////////////////////////////////////
$color-primary: #52b1b9;
$color-secondary: #eb6151;
$bg-color: #f2f2f6;
$modal-text-color: #3d464d;
$footer-color: #3d464d;
$link-color: #0000EE;

////////////////  fonts  //////////////////////////////////////////////////////////////
$font-weight-regular: 400; 
$font-weight-bold: 600; 

////////////////  Header  /////////////////////////////////////////////////////////////
$main-header-height: 65px;