////////////////  Global colors  ///////////////////////////////////////////////////////
$color-primary: #52b1b9;
$color-secondary: #eb6151;
$bg-color: #f2f2f6;
$footer-color: #3d464d;

////////////////  Header  /////////////////////////////////////////////////////////////
$main-header-height: 65px;