.cm-tool-profile-wrapper {
	margin: 0 0 30px 0;
}

.cm-content-cols {
  @include mquery(desktop) {
    display: flex;
  }
}

.cm-desc-content {
  @include mquery(desktop) {
    margin: 0 0 0 30px;
  }
}
