.card {
  height: auto;
  margin:9px;

  .card-title {
  	display: block;
  	width: 100%;
  	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	font-weight: $font-weight-bold;
  }

  .card-pricing {
  	font-weight: $font-weight-bold;
  }
}

.card-img {
  width: 210px;
  height: 180px;
}

.blue-text {
  color: #52b1b9;
}

.grey-text {
  color: #96989a;
}

.btn {
  background-color: #eb6151;
}
