<a ng-href="{{::data.type}}/{{::data.$id}}">
  <div class="card">
    <img ng-if="data.type == 'project'" class="card-img" ng-src="{{::data.image ||'/assets/images/civicmakers_avatar.png' }}" alt="Project image">
    <img ng-if="data.type == 'tool'" class="card-img" ng-src="{{::data.avatar || '/assets/images/civicmakers_avatar.png' }}" alt="Avatar">
    <div class="homepage-container">
      <div class="row">
        <span class="card-title">{{::data.name}}</span>
        <span class="card-pricing blue-text">{{::data.pricing}}</span>
      </div>
      <p class="grey-text">{{::data.description}}</p>
      <span ng-repeat="tag in data.tags track by $index" ng-if="tag !== ''" class="tag">
        {{tag}}
      </span>
    </div>
  </div>
</a>
