<a ng-href="{{::data.type}}/{{::data.$id}}">
  <div class="card">
    <img ng-if="data.type == 'project'" class="card-img" ng-src="{{::data.image}}">
    <img ng-if="data.type == 'tool'" class="card-img" ng-src="{{::data.avatar}}">
    <div class="homepage-container">
      <div class="row">
      <span><b>{{::data.name}}</b></span>
      <span class="pull-right blue-text"><b>{{::data.pricing}}</b></span>
      </div>
      <p class="grey-text">{{::data.description}}</p>
      <span ng-repeat="tag in data.tags track by $index" ng-class-odd="'bg-purple'" ng-class-even="'bg-orange'" ng-if="tag !== ''" class="tag">{{tag}}</span>
    </div>
  </div>
</a>
