<div class="main-wrapper">
  <h1>Create New Project</h1>

  <p>
    Share your project with the civic tech community! What are you working on? What outcomes are you looking for? Tell your peers about your success (or failure) so they can learn from your work!
  </p>
  <p>
    <strong>NOTE:</strong> To add a tool to your project, you'll need to confirm tool is already in our database by searching in the tool field below. If not, you will need to <a class="link" ng-href="/add/tool">add it to our database</a> before adding your project. 
  </p>

  <form class="material-form-group" name="projectForm">

    <md-input-container>
      <label>Project Name</label>
      <input type="text" ng-model="addProjectCtrl.projectFormData.name" required md-maxlength="100">
    </md-input-container>

    <md-input-container>
      <label>Project Description</label>
      <textarea ng-model="addProjectCtrl.projectFormData.description" required md-maxlength="2000"></textarea>
    </md-input-container>

    <md-input-container>
      <label>Image URL</label>
      <textarea ng-model="addProjectCtrl.projectFormData.image" placeholder="Add the URL for a screenshot of this project." required></textarea>
    </md-input-container>

    <md-input-container>
      <label>Web URL</label>
      <textarea ng-model="addProjectCtrl.projectFormData.link"  placeholder="If your project has a public link, add the URL." required md-maxlength="300"></textarea>
    </md-input-container>

    <md-input-container>
      <label>Tags</label>
      <input type="text" ng-model="addProjectCtrl.tagsEntry" ng-change="addProjectCtrl.tagsEntryChanged()" md-maxlength="300" placeholder="Separate your tags with commas (participatory budgeting, CRM, nonprofit, etc.)">
    </md-input-container>

    <md-input-container>
         <label>What tools were used for this project?</label>
         <textarea ng-model="addProjectCtrl.searchInput" placeholder="Search for tools in our database" md-maxlength="300"></textarea>
     </md-input-container>

     <div ng-repeat="tool in addProjectCtrl.tools | filter: addProjectCtrl.searchToolsArrayFilter"
            ng-click="addProjectCtrl.addToTools(tool)" class="lil-card">
       <img ng-src="{{tool.image}}" alt="">
       <p>{{tool.name}}</p>
     </div>

     <div class="selected-tools" ng-if="addProjectCtrl.selectedTools.length !== 0">
      <h3>Your Selected Tools:</h3>
      <div class="card-container">
        <div class="lil-card" ng-repeat="selectedTool in addProjectCtrl.selectedTools track by $index">
         <img ng-src="{{selectedTool.image}}" alt="">
         <p>{{selectedTool.name}}</p>
        </div>
      </div>
     </div>

    </form>
    <div class="form-submit-button">
      <button class="md-raised md-primary button" ng-click="addProjectCtrl.loginAndSubmit()"
              analytics-on analytics-event="create" analytics-category="Buttons" analytics-label="project">
        Submit
      </button>
    </div>
</div>
