<div class="main-wrapper">

  <h1>Create New Project</h1>

  <p>
    Share your project with the civic tech community! What are you working on? What outcomes are you looking for? What process are you following. Tell your peers about your success (or failure) so they can learn from your work!
  </p>

  <form class="material-form-group" name="projectForm">

    <md-input-container>
      <label>Project Name</label>
      <input type="text" ng-model="addProjectCtrl.projectFormData.name" required md-maxlength="100">
    </md-input-container>

    <md-input-container>
      <label>Project</label>
      <textarea ng-model="addProjectCtrl.projectFormData.description" required md-maxlength="300"></textarea>
    </md-input-container>

    <md-input-container>
      <label>Header Image URL</label>
      <textarea ng-model="addProjectCtrl.projectFormData.image" required></textarea>
    </md-input-container>

    <md-input-container>
      <label>Web URL</label>
      <textarea ng-model="addProjectCtrl.projectFormData.link" required md-maxlength="300"></textarea>
    </md-input-container>

    <md-input-container>
      <label>Tags</label>
      <input type="text" ng-model="addProjectCtrl.tagsEntry" ng-change="addProjectCtrl.tagsEntryChanged()" md-maxlength="300" placeholder="Separate your tags with commas (participatory budgeting, collective dedcision-making, CRM, etc)">
    </md-input-container>

    <md-input-container>
         <label>Search Tools To Include</label>
         <textarea ng-model="addProjectCtrl.searchInput" md-maxlength="300"></textarea>
     </md-input-container>

     <div class="lil-card" ng-if="addProjectCtrl.searchInput !== undefined && addProjectCtrl.searchInput !== '' " ng-repeat="tool in addProjectCtrl.tools | filter:{name:addProjectCtrl.searchInput}" ng-click="addProjectCtrl.addToTools(tool)">
       <img ng-src="{{tool.image}}" alt="">
       <p>{{tool.name}}</p>
     </div>

     <div class="selected-tools" ng-if="addProjectCtrl.selectedTools.length !== 0">
      <h3>Your Selected Tools:</h3>
      <div class="card-container">
        <div class="lil-card" ng-repeat="selectedTool in addProjectCtrl.selectedTools track by $index">
         <img ng-src="{{selectedTool.image}}" alt="">
         <p>{{selectedTool.name}}</p>
        </div>
      </div>
     </div>

    </form>
    <div class='form-submit-button'>
      <button class="md-raised md-primary button" ng-click="addProjectCtrl.loginAndSubmit()"
              analytics-on analytics-event="create" analytics-category="Buttons" analytics-label="project">
        Submit
      </button>
    <div>
</div>
