/*put in general styles*/

.profile-card {
  @include bg-color($card-bg-color);
  max-width: 280px;
  width: 100%;
  margin: 0 auto;
  padding: 1em;

  .profile-image{
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
  }

  .profile-image img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
  }

  .title{
    font-weight: 700;
  }
  .subtitle{
    font-weight: 300;
    opacity: .5;
  }
  /*end in general styles*/

  .heading{
    text-align: left;
    position: relative;
    height: 60px;
  }

  .profile-image {
    float: left;
    margin: 0 10px 0 40px;
  }

  .title-section{
    padding-top: 7px;
    float: left;
    text-align: left;
  }

  .social-links a{
    display: block;
    width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: blue;
    text-decoration: underline;
  }

  .social-links{
    float: left;
    width: 90%;
  }

  .synopsis-table{
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .synopsis-table tr{
    height: 30px;
  }

  .synopsis-table .synopsis-table-title{
    text-transform: uppercase;
    color: #505050; /*Be Nice to have this in a varible*/
    font-weight: 700;
    padding-right: 15px;
  }

  .tag-section{
    padding-left: 5px;
  }
  .tag-section .title{
    color: #505050; /*Be Nice to have this in a variable*/
    font-weight: 700;
    padding-bottom: 10px;
  }
}
