<div class="main-wrapper projects clearfix">
  <div layout="row" class="title-row" layout-align="center center" flex>
    <h1 class="cm-projects-title-text">
      Projects
      <span class="md-title count">
        {{mainCtrl.projectsNum}} Projects
      </span>
    </h1>
    <!-- todo put this into a directive -->
    <button ng-click="mainCtrl.loginAndRedirect('/add/project', $event)" class="md-raised md-primary button add-project-button"
            analytics-on analytics-event="add-project-click" analytics-category="projects">
        Add a project
    </button>
  </div>
  <div class="cards-board">
    <card-directive ng-repeat="project in projects | filter:mainSearch" data="project" class="card-on-board"
        analytics-on  analytics-category="projects" analytics-event="view-project" analytics-label="{{project.$id}}">
    </card-directive>
  </div>
</div>
