<div class="main-wrapper">
  <h1>Create New Tool</h1>
  <p>
    Share a tool with the civic tech community! It could be a product, a Github repo, or a best practice. If there's a tool you've built or you use for civic projects, your peers want to know about it.
  </p>

  <form class="material-form-group" name="toolForm">
    <md-input-container>
      <label>Tool Name</label>
      <input type="text" ng-model="addToolCtrl.toolFormData.name" required md-maxlength="100">
    </md-input-container>

    <md-input-container>
      <label style="padding-bottom: 20px;">Description</label>
      <textarea ng-model="addToolCtrl.toolFormData.description" required md-maxlength="2000"
                placeholder="Enter a brief description of your tool">
      </textarea>
    </md-input-container>

    <md-input-container>
      <label>Cost</label>
      <md-select ng-model="addToolCtrl.toolFormData.pricing">
        <md-option value="Free">Free</md-option>
        <md-option value="Paid">Paid</md-option>
        <md-option value="Freemium">Freemium</md-option>
      </md-select>
    </md-input-container>

    <md-input-container>
      <label>License</label>
      <md-select ng-model="addToolCtrl.toolFormData.license" required>
        <md-option value="Open">Open</md-option>
        <md-option value="Closed">Closed</md-option>
      </md-select>
    </md-input-container>

    <md-input-container>
      <label style="padding-bottom: 20px;">Avatar URL</label>
      <input type="text" ng-model="addToolCtrl.toolFormData.avatar" md-maxlength="500"
             placeholder="If you have a logo, add a URL where we can download it.">
    </md-input-container>

    <md-input-container>
      <label>Image URL</label>
      <input type="text" ng-model="addToolCtrl.toolFormData.image" md-maxlength="500"
             placeholder="Add the URL for a screenshot of this tool.">
    </md-input-container>

    <md-input-container>
      <label>Website URL</label>
      <input type="text" ng-model="addToolCtrl.toolFormData.link" md-maxlength="300" required>
    </md-input-container>

    <md-input-container>
      <label>Twitter Handle</label>
      <input type="text" ng-model="addToolCtrl.toolFormData.twitter" md-maxlength="100"
             placeholder="Just enter your handle, not the full URL.">
    </md-input-container>

    <md-input-container>
      <label style="padding-bottom: 25px;">Tags</label>
      <input type="text" ng-model="addToolCtrl.tagsEntry" ng-change="addToolCtrl.tagsEntryChanged()" md-maxlength="300"
             placeholder="Separate your tags with commas (participatory budgeting, CRM, nonprofit, etc.)">
    </md-input-container>
  </form>
  
  <div class="form-submit-button">
    <button class="md-raised md-primary button" ng-click="addToolCtrl.loginAndSubmit()"
            analytics-on analytics-event="create" analytics-category="Buttons" analytics-label="tool">
      Submit
    </button>
  </div>
</div>
