<div class="main-wrapper add-tool">
  <p>
    Share a tool with the civic tech community! It could be a product, a Github repo, or a best practice. If there's a tool you've built or you use for civic projects, your peers want to know about it.
  </p>

  <form class="material-form-group" name="toolForm">
    <label>Tool Name</label>
    <md-input-container>
      <input type="text" ng-model="addToolCtrl.toolFormData.name" required md-maxlength="100">
    </md-input-container>

    <label style="padding-bottom: 20px;">Description</label>
    <md-input-container>
      <textarea ng-model="addToolCtrl.toolFormData.description" required md-maxlength="300" placeholder="Enter a brief description of your tool"></textarea>
    </md-input-container>

    <label>Primary Audiences</label>
    <md-input-container>
      <input type="text" ng-model="addToolCtrl.toolFormData.audience" md-maxlength="100">
    </md-input-container>

    <label>Cost</label>
    <md-input-container>
      <md-select ng-model="addToolCtrl.toolFormData.pricing" placeholder="Free">
        <md-option value="Free">Free</md-option>
        <md-option value="Paid">Paid</md-option>
        <md-option value="Fremium">Fremium</md-option>
      </md-select>
    </md-input-container>

    <label>License</label>
    <md-input-container>
      <md-select ng-model="addToolCtrl.toolFormData.license" required placeholder="Open">
        <md-option value="Open">Open</md-option>
        <md-option value="Closed">Closed</md-option>
      </md-select>
    </md-input-container>

    <label style="padding-bottom: 20px;">Avatar URL</label>
    <md-input-container>
      <input type="text" ng-model="addToolCtrl.toolFormData.avatar" placeholder="If you have a logo, add a URL where we can download it.">
    </md-input-container>

    <label>Image URL</label>
    <md-input-container>
      <input type="text" ng-model="addToolCtrl.toolFormData.video" md-maxlength="100">
    </md-input-container>

    <label>Website URL</label>
    <md-input-container>
      <input type="text" ng-model="addToolCtrl.toolFormData.link" md-maxlength="100" required>
    </md-input-container>

    <label>Twitter URL</label>
    <md-input-container>
      <input type="text" ng-model="addToolCtrl.toolFormData.twitter" md-maxlength="100">
    </md-input-container>

    <label style="padding-bottom: 25px;">Tags</label>
    <md-input-container>
      <input type="text" ng-model="addToolCtrl.tagsEntry" ng-change="addToolCtrl.tagsEntryChanged()" md-maxlength="300" placeholder="Separate your tags with commas (participatory budgeting, collective dedcision-making, CRM, etc)">
    </md-input-container>

  </form>
  <div class='form-submit-button'>
    <button class="md-raised md-primary button" ng-click="addToolCtrl.loginAndSubmit()">
      Submit
    </md-button>
  </div>

</div>
