/**
 * App-wide Styles
 */
body, html {
  background-color: #f2f2f6;
}

 a {
    text-decoration: none;
    color:inherit;
 }

a.link {
    color: $color-secondary;
    font-weight: bold;
 }

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

// [layout-fill] {
//     height:100%;
// }


