.cm-qNa-container {
	margin-bottom: 12px;
}

.cm-qNa-avatar {
	width: 48px;
	height: 48px;
}

.cm-question-container {
	padding: 1.25em;
}

.cm-question-bg-color {
	background-color: white;
	border-bottom: 1px solid #e8e8e8;
}

.cm-qNa-content {
	margin-left: 2.3333%;
}

.cm-qNa-font {
	font-size: 14px;
	overflow-wrap: break-word;
}

.cm-qNa-bold {
	font-weight: bold;
}

.cm-answer-bg-color {
	background-color: #eee;
}

.cm-reply-pull-right {
	padding: 5.333333% 5.333333% 0 10.666667%;
	border-radius: 5px;
}

.cm-reply-form {
	padding: 5.333333% 5.333333% 5.333333% 10.66667%;
}

.cm-reply-input {
	width: 100%;
	margin: 0 4% 0 0;
	padding-bottom: 0;
	background-color: white;
	input {
		margin: 0;
		padding: 2px;
		border: 0;
	}
}

.cm-reply-form-bg-color {
	background-color: #eee;
}
