.cm-qNa-wrapper {
	max-width: 625px;
	width: 100%;
}

.cm-qNa-header-wrapper {
	@include left-right-padding(1em);
	margin-top: 15px;
}

.cm-qNa-header {
	width: 100%;
}

.cm-vertical-center {
	align-self: center;
}

.submit-question-form {
	background-color: white;
	margin: 0 0 12px 0;
	padding: 15px;
	//rgba(150, 152, 154, 0.2)

	.submit-cancel-row {
		text-align: right;
	}

	md-input-container {
		margin: 0;
		padding: 0;
	}

}
