.cm-qNa-wrapper {
	max-width: 625px;
	width: 100%;
	margin: 0 auto;
}

.cm-qNa-header-wrapper {
	padding: 0 1em;
	margin-top: 15px;
}

.cm-qNa-header {
	width: 100%;
}

.cm-qNa-button-wrapper {
	align-self: center;
	width: 100%;
	max-width: 163px;
}

.cm-submit-qNa-form {
	background-color: white;
	margin: 0 0 12px 0;
	padding: 15px;

	md-input-container {
		margin: 0;
		padding: 0;
	}
}

.cm-qNa-cancel-row {
	text-align: right;
}
