<div class="cm-qNa-container">
	<div class="cm-question-container cm-question-bg-color layout-row">
		<img class="cm-qNa-avatar" ng-src="{{questionCtrl.questionData.authorAvatarUrl}}">

		<div class="cm-qNa-content cm-question-content" flex="85">
			<div class="cm-qNa-font cm-qNa-bold">{{questionCtrl.questionData.authorDisplayName}}</div>
			<div class="cm-qNa-font">
				{{questionCtrl.questionData.content}}
			</div>
		</div>
	</div>
	<div class="cm-answer-container cm-answer-bg-color">
		<div ng-repeat="answer in questionCtrl.answersList" class="cm-reply-pull-right layout-row">
			<img class="cm-qNa-avatar" ng-src="{{answer.authorAvatarUrl}}">
			<div class="cm-qNa-content" flex="85">
				<div class="cm-qNa-font cm-qNa-bold">{{answer.authorDisplayName}}</div>
				<div class="cm-qNa-font">
					{{answer.content}}
				</div>
			</div>
		</div>
	</div>

	<form name="answerForm" ng-submit="questionCtrl.submitAnswer()">
		<div class="cm-reply-form cm-reply-form-bg-color layout-row">
			<md-input-container class="cm-reply-input">
				<input ng-model="questionCtrl.newAnswerContent" type="text" aria-label="reply" required></input>
			</md-input-container>
			<button class="button" type="submit" class="md-raised md-primary"
					analytics-on analytics-event="question-reply" analytics-category="Buttons">
				Reply
			 </button>
		</div>
	</form>
</div>
