<div class="cm-qNa-wrapper">
	<div class="cm-qNa-header-wrapper layout-row">
		<h2 class="cm-qNa-header">Questions</h2>
		<div class="cm-qNa-button-wrapper">
			<button class="button" ng-click="questionsCtrl.startEditingNewQuestion()" ng-disabled="questionsCtrl.isEditing"
				    aria-label="Ask a question" analytics-on analytics-event="ask-question-click" analytics-category="{{questionsCtrl.type}} Q&A">
                Ask a question
			</button>
		</div>
	</div>
	<form name="submitQuestionForm" ng-submit="questionsCtrl.submitQuestion()" ng-show="questionsCtrl.isEditing">
		<div class="cm-submit-qNa-form">
			<md-input-container>
                <textarea ng-model="questionsCtrl.newQuestionContent" required md-maxlength="1000" placeholder="Enter a question"></textarea>
			</md-input-container>
			<div class="cm-qNa-cancel-row">
				<md-button ng-click="questionsCtrl.clearContent()" aria-label="Cancel" type="button"
                       analytics-on analytics-event="cancel-question-click" analytics-category="{{questionsCtrl.type}} Q&A">
                    Cancel
                </md-button>
                <button class="button" aria-label="Submit question" type="submit"
                        analytics-on analytics-event="question-submit" analytics-category="{{questionsCtrl.type}} Q&A">
                    Submit
                </button>
			</div>
		</div>
	</form>
	<question ng-repeat="question in questionsCtrl.questions" data="question" type="{{questionsCtrl.type}}"></question>
</div>
