<div class="question">   
	<div class="question-container layout-row clearfix">
		<div class="question-author-avatar" flex="10">
			<img ng-src="{{questionCtrl.questionData.authorAvatarUrl}}">
		</div>
		
		<div class="question-content" flex="grow">  
			<div class="question-author">{{questionCtrl.questionData.authorDisplayName}}</div>
			{{questionCtrl.questionData.content}}
		</div>
	</div>
	<div class="answers clearfix">
		<div ng-repeat="answer in questionCtrl.answersList" class="answer-container layout-row clearfix">
			<div class="answer-author-avatar" flex="10">
				<img ng-src="{{answer.authorAvatarUrl}}">
			</div>
			<div class="answer-content" flex="grow">  
				<div class="answer-author">{{answer.authorDisplayName}}</div>
				{{answer.content}}
			</div>
		</div>
	</div>

	<form name="answerForm" ng-submit="questionCtrl.submitAnswer()">
		<div class="answer-form layout-row">
			<md-input-container flex="grow">
				<input ng-model="questionCtrl.newAnswerContent" type="text" aria-label="reply" required></input>
			</md-input-container>
			<div class="answer-button" flex="10">
				<button class="button" type="submit" class="md-raised md-primary"
						analytics-on analytics-event="question-reply" analytics-category="Buttons">
					Reply
				 </button>
			</div>
		</div>
	</form>
</div>