<div class="cm-qNa-wrapper layout-row">
	<h2 class="cm-qNa-header">Questions</h2>
	<div class="cm-vertical-center">
		<button class="button" ng-click="questionsCtrl.startEditingNewQuestion()" ng-disabled="questionsCtrl.isEditing"
		aria-label="Ask a question" analytics-on analytics-event="ask-question" analytics-category="Buttons">
		Ask a question
		</button>
	</div>
</div>

<form name="submitQuestionForm" ng-submit="questionsCtrl.submitQuestion()" ng-show="questionsCtrl.isEditing">
	<div class="submit-question-form">
		<md-input-container>
		    <textarea ng-model="questionsCtrl.newQuestionContent" required md-maxlength="1000" placeholder="Enter a question"></textarea>
		</md-input-container>
		<div class="submit-cancel-row">
			<md-button ng-click="questionsCtrl.clearContent()" aria-label="Cancel" type="button">Cancel</md-button>
			<button class="button" aria-label="Submit question" type="submit">Submit</button>
		</div>
	</div>
</form>

<question ng-repeat="question in questionsCtrl.questions" data="question"></question>
