.cm-main-wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

.cm-main-header {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 14%, rgba(0, 0, 0, 0.2) 100%), url('/assets/images/CityCampSF2015_unconference.jpg');
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    min-height: 350px;
    
    @include mquery (tablet) {
        background-size: cover;
        min-height: 450px;
    }
    
    .cm-main-header-title {
        width: 80%;
        font-size: 28px;
        text-align: center;
        margin: 0;
        margin-bottom: 10px;
        
        @include mquery (tablet) {
            width: 60%;
            font-size: 36px;
        }
    }
    
    .cm-main-header-text {
        width: 80%;
        font-size: 18px;
        margin: 0;
        
        @include mquery (tablet) {
            font-size: 21px;
            width: 60%;
        }
    }
}

.cm-main-action {
    @include padding-vertical(30px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: white;
    margin-bottom: 5px;
    
    @include mquery (tablet) {
        @include padding-vertical(50px);
    }
    
    .cm-main-action-title {
        font-size: 24px;
        font-weight: $font-weight-regular;
        margin: 0;
        margin-bottom: 20px;
        width: 60%;
        
        @include mquery (tablet) {
            font-size: 36px;
            width: 100%;
            margin-bottom: 36px;
        }
    }
    
    .cm-login-button {
        @include mquery (tablet) {
            width: 25%;
        }
    }
}

.cm-main-action-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    
    @include mquery (tablet) {
        flex-direction: row;
        align-items: flex-start;
    }
    
    .cm-action-icon {
        width: 50%;
        
        @include mquery (tablet) {
            width: 20%;
        }
    }
}

.cm-main-content {
    background: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @include mquery (tablet) {
        padding: 50px;
    }
    
    .cm-main-content-projects, .cm-main-content-tools {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
        
        &:last-child {
            margin-bottom: 0;
        }
        
        @include mquery (tablet) {
            flex-direction: row;
            
            &.reverse-order {
                flex-direction: row-reverse;
            }
        }
        
        .cm-main-content-text-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            @include mquery (tablet) {
                margin-left: 5%;
                align-items: flex-start;
            }
        }
    }
    
    .cm-main-content-image {
        width: 95%;
        max-height: 250px;
        box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
        
        @include mquery (tablet) {
            width: 50%;
            max-height: none;
        }
    }
    
    .cm-main-content-title {
        color: $color-primary;
        font-weight: $font-weight-bold;
    }
    
    .cm-main-content-text {
        text-align: center;
        font-size: 18px;
        width: 70%;
        
        @include mquery (tablet) {
            text-align: left;
        }
    }
    
    .cm-main-content-button {
        @include mquery (desktop) {
            width: 50%;
        }
    }
}