// Main
.main-toolbar {
  opacity: 0.8;
} 

.main-hero { // LSG: This should be renamed to "home-hero-image" or something similar
  padding: 0;
  margin: 0;
  height: 360px;
  background-size: 100% auto;
  background-image: url('/assets/images/CityCampSF2015_unconference.jpg');
  background-repeat: no-repeat;
  vertical-align: middle;
  position: relative;

  @media only screen and (max-device-width: 480px) {
    display: inline-block;
  }

  .main-hero-text { 
    width: 960px;
    margin: auto;
  }

  .hero-text {
      color: white;
      font-weight: bold;
      margin:0;
      position: absolute;
      text-align: left;
      font-size: 36px;
      background-color: #52b1b9;
      opacity: 0.8;
		  padding: 12px;
  }

  #first-line {
    bottom: 134px;
    margin-bottom: 25px;
 }

 #second-line {
    bottom: 82px;
 }  
}
