<div layout-fill>

      <div layout="row" flex class="intro-row">
        <div layout="column" flex>
          <p>Call to action!</p>
          <p>Endorsements!</p>
          <p>Value proposition!</p>
        </div>
        <div layout="column" flex>
          <input type="text" placeholder="Search..."/>
        </div>
      </div>

      <div layout="row" flex>
        <div layout="column" layout-fill layout-align="center start" class="horizontal-repeat">
          <div layout="row" flex>
            <a href="/projects"><h2>Projects</h2></a>
            <h5>{{projects.length}} Projects</h5>
            <div flex></div>
            <a href="/projects">See All</a>
          </div>
          <card-directive ng-repeat="project in projects" data="project"></card-directive>
        </div>
      </div>

      <div layout="row" flex>
        <div layout="column" layout-fill layout-align="center start" class="horizontal-repeat">
          <div layout="row" flex>
            <a href="/tools"><h2>Tools</h2></a>
            <h5>{{tools.length}} Tools</h5>
            <div flex></div>
            <a href="/tools">See All</a>
          </div>
          <card-directive ng-repeat="tool in tools" data="tool"></card-directive>
        </div>
      </div>

      <div layout="row" flex>
        <div layout="column" layout-fill layout-align="center start" class="horizontal-repeat">
          <div layout="row" flex>
            <a href="/authors"><h2>Authors</h2></a>
            <h5>{{authors.length}} Authors</h5>
            <div flex></div>
            <a href="/authors">See All</a>
          </div>
          <card-directive ng-repeat="author in authors" data="author"></card-directive>
        </div>
      </div>

      <div layout="row" flex>
        <div layout="column" layout-fill layout-align="center start" class="horizontal-repeat">
          <div layout="row" flex>
            <a href="/topics"><h2>Topics</h2></a>
            <h5>{{topics.length}} Topics</h5>
            <div flex></div>
            <a href="/topics">See All</a>
          </div>
          <card-directive ng-repeat="topic in topics" data="topic"></card-directive>
        </div>
      </div>

</div>