<div layout-fill>

      <div layout="row" flex class="intro-row">
        <div layout="column" flex>
          <p>Call to action!</p>
          <p>Endorsements!</p>
          <p>Value proposition</p>
        </div>
        <div layout="column" flex>
          <p>SearchSearchSearchSearchSearch</p>
          <input type="text" placeholder="Search..." ng-model="mainSearch"/>
        </div>
      </div>

      <div layout="row" flex>
        <div layout="column" layout-fill layout-align="center start" class="horizontal-repeat">
          <div layout="row" class="title-info" flex>
            <h2>Projects</h2>
            <div flex></div>
            <div class="seemore">
              <h4>{{projects.length}} Projects</h4>
              <h5><a href="/projects">See All</a></h5>
            </div>
          </div>
          <div class="card-repeat">
            <card-directive ng-repeat="project in projects | filter:mainSearch" data="project"></card-directive>
          </div>
        </div>
      </div>

      <div layout="row" flex>
        <div layout="column" layout-fill layout-align="center start" class="horizontal-repeat">
          <div layout="row" class="title-info" flex>
            <h2>Tools</h2>
            <div flex></div>
            <div class="seemore">
              <h4>{{tools.length}} Tools</h4>
              <h5><a href="/tools">See All</a></h5>
            </div>
          </div>
          <card-directive ng-repeat="tool in tools" data="tool"></card-directive>
        </div>
      </div>

      <div layout="row" flex>
        <div layout="column" layout-fill layout-align="center start" class="horizontal-repeat">
          <div layout="row" class="title-info" flex>
            <h2>Authors</h2>
            <div flex></div>
            <div class="seemore">
              <h4>{{authors.length}} Authors</h4>
              <h5><a href="/authors">See All</a></h5>
            </div>
          </div>
          <card-directive ng-repeat="author in authors" data="author"></card-directive>
        </div>
      </div>

      <div layout="row" flex>
        <div layout="column" layout-fill layout-align="center start" class="horizontal-repeat">
          <div layout="row" class="title-info" flex>
            <h2>Topics</h2>
            <div flex></div>
            <div class="seemore">
              <h4>{{topics.length}} Topics</h4>
              <h5><a href="/topics">See All</a></h5>
            </div>
          </div>
          <card-directive ng-repeat="topic in topics" data="topic"></card-directive>
        </div>
      </div>

</div>