.cm-content-cols {
  @include mquery(desktop) {
    display: flex;
  }
}

.cm-desc-content {
  @include mquery(desktop) {
    margin: 0 0 0 30px;
  }
}

.cm-project-buttons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.cm-project-button {
  margin-bottom: 10px;
  width: 100%;
  max-width: 343px;
}

.cm-projectTools-wrapper {
  padding: 1em;
}

.cm-projectTool-header-wrapper {
  padding: 1em;
  margin: 0;
}

.cm-modal {
  .md-toolbar-tools {
    padding: 0;
  }

  h2 { font-weight: bold; }
}
