.cm-title-directive {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 80px;
  margin: 0 0 24px 0;
}

.cm-title-directive--left-margin {
  margin-left: 10px;
}

.cm-title-directive img {
  width: 80px;
  height: 80px;
  border-radius: 1em;
}

.cm-title-directive span {
  color: $data-type-color;
  font-size: 0.75em;
}

.cm-title-directive h1 {
  margin: 0px;
  font-size: 2.5em;
}
